* {
    background:     #191724; /* Rose Pine Base */
    background-alt: #1F1A2A; /* Rose Pine Alt */
    foreground:     #E0DEF4; /* Rose Pine Text */
    selected:       #F28FAD; /* Rose Pine Pink */
    active:         #A5ADCD; /* Rose Pine Blue */
    urgent:         #F7A8A1; /* Rose Pine Urgent */
}
